	<th>Genes:</th>
	<td><%= text_area_tag(:genes, @genes, :cols => 15, :rows => 10) %> </td>
	<td class='notes'>Enter Hugo gene codes separated by space, <br>
                  or copy/paste from an Excel row or column. <br> 
                  Note: maximum of 400 genes may be selected </td>

