<style type="text/css">
<!--
/* styles for forms with fieldset */
fieldset {
    padding: 0 0 .5 .5em;
    margin-bottom:.75em; 
    float:left; 
    clear:left; 
    width:462px;
}
legend {
    margin-left:1em;
    font-size: .9em;
    font-weight: bold;
    padding: 0 3px;
}
fieldset ol {
    list-style:none; 
    padding:.5em 1em 0 1em;
    margin: 0;
}
fieldset li {
    float:left; clear:left; 
    width:100%;
    padding: 2px 0;
}
label {
    float:left; width:9em; 
    margin-right: 1em;
    font-size: .9em;
}
label.radio {
    float:left; width:20em; 
    margin-right: 1em;
}
-->
</style>

<h3>Query Capture Sequences - Select Parameters</h3>

<% form_tag :action=> 'list_selected'  do %>
<table>
  <tr>
    <%= render :partial => 'shared/gene_select' %>
  </tr>
</table>

<p><%= submit_tag "Submit" %></p>
<%end%>
