
<h1>Download Oligos - Entire Exome</h1>

<%= form_tag :action=> 'zip_download'  do %>

<br />
<table>
<tr class='notes'>
	<td> Zipped file is 55MB; download time will depend on the speed of your internet connection. <br><br>
	  There is a readme file as well as the oligo design file in the zipped archive.<br><br>
	  Design file is tab-delimited, approx 780k lines. <br>
	  Note that it may take several minutes to open in Excel or similar program, depending on your machine. </td>
</tr> 
</table>
<br /> <br />
  
<%= submit_tag 'Download' %>
<%end%>
