<h1>Stanford Human OligoExome - Selective Circularization V2</h1>
<p>Selective Circularization V2 is a scalable oligonucleotide management system for genomic analysis and high-throughput resequencing. This set of capture oligonucleotides will cover the CCDS exon space and a high proportion of related regulatory regions from the human genome. </p>
<p>[Paragraph here on selective circularization V2]</p>

<%if !current_user%> <%= render :partial => 'user_login' %> <% end %>

<br/>
<br/>
<%= render :partial => 'web_disclaimer' %>