<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>SGTC LIMS<%= controller.action_name %></title>
        <meta name="description" content="Stanford Human OligoExome Project" />
        <meta name="keywords" content="stanford university, biological medicine, hanlee ji, george natsoulis, oligo exome, oligo, oligonucleotide, CCDS, genome, cancer, cancer research, dna sequencing">
        <%= stylesheet_link_tag 'lims_std' %>
        <%= stylesheet_link_tag 'superfish' %>
        <%= javascript_include_tag :all, :cache => true %>
        <!--%= calendar_date_select_includes %-->
        <script type="text/javascript">
        // initialise Superfish 
        $(document).ready(function() { 
          $('ul.sf-menu').superfish({ 
            delay:       1000,                            // one second delay on mouseout 
            animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
            speed:       'fast',                          // faster animation speed  
          }); 
        });         
        </script>
    </head>

<body id='body'>
    <% user_roles = (logged_in? ? current_user.roles.collect(&:name) : nil) %>
    
<div id="container" style="width: 98%;">
    
<div id="header">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom: 0;">
    <tr>
      <td valign="top" rowspan="2" width="180"><div class="logo"><%= image_tag("SU_Seal_Card_pos_89.gif", :height => "89", :alt => "Stanford University") %></div></td>
      <td valign="top"><div class="sitename-graphic"><%= image_tag("oligoexome-sitename.gif", :height => "58", :alt => "Stanford Human OligoExome Project") %></div></td>
      <td valign="top" width="180"><div class="version"><% if Version::APP_VERSION %>Version: <%= Version::APP_VERSION %><% end %></div></td>
    </tr>
    <tr>
      <td><div class="tagline">JI RESEARCH GROUP - SGTC</div></td>      
      <td valign="bottom">
        <% if logged_in? %>
        <div class="logout-link">
          <%= link_to 'User Profile', edit_user_path(current_user) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Logout', logout_url %>
        </div>
        <% end %>
      </td>   
    </tr>
  </table>  
</div><!-- /header -->

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0; table-layout:fixed;">
  <tr><td id="topnavbar">
 
  <div style="height: 22px;">&nbsp;</div>

  </td></tr>
</table>

<div class="clear"></div>

<div id="main">

<div id="leftsidebar">
  <% if logged_in? %> 
  <div class="user_info">
     <em>Logged in as: <%= current_user.login %></em>
  </div>
  <% end %>
  <ul class="opened">
    <li><%= link_to 'Home', {:controller=>'oligo_designs', :action=>'welcome'} %></li>                   
    <li><%= link_to 'Query Capture Seqs',  designquery_url %></li>
    <li><%= link_to 'Download Zip File',   zip_download_url %></li> 
    <li><a href="#">FAQ</a>          
      <ul>
        <li><%= link_to 'OligoExome Stats',    faq_statistics_url %></li> 
        <li><%= link_to 'Annotation Codes',    faq_annotations_url %></li>
      </ul>
    </li>     
	<div class="sidebar-label">PUBLICATIONS:<br />
	<span style="font-size:.9em; font-style: normal; color:#000;">Supporting information for  the 
manuscript <em>A Flexible Approach for Highly Multiplexed Candidate Gene Targeted Resequencing</em></span>
	</div>
	<li><a href="/files/supporting_info_PLoSONE_20110224.doc">PLoSONE (word doc)</a></li>
    <li><%= link_to 'Figures S1', faq_technology_url %></li>
    <li><a href="/files/Table_S5_Novels_SNVs.txt">Table_S5_Novels_SNVs</a><!--%= link_to 'Table_S5_Novels_SNVs'  %--></li>
    <li><a href="/files/Table_S8_Capture_Oligos.txt">Table_S8_Capture_Oligos</a><!--%= link_to 'Table_S8_Capture_Oligos'  %!--></li>
	<div class="sidebar-label">DATA DERIVED FROM:</div>
    <li><a href="ftp://ftp.ncbi.nlm.nih.gov/genomes/H_sapiens/ARCHIVE/BUILD.36.3/">Human genome build: 36.3</a></li>
    <li><a href="ftp://ftp.ncbi.nlm.nih.gov/pub/CCDS/archive/Hs36.3/">CCDS build release: 20080902</a></li>
    <li><a href="ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606/database/b129_archive/">dbSNP build id: 129</a></li>
    <% if Version::DESIGN_VERSION %> 
    <li><a href="#" style="color: #888;">OligoExome version: <%= Version::DESIGN_VERSION.design_version %></a></li>
    <% end %>
    
    <div class="sidebar-label">OTHER LINKS:</div>
    <li><a href="http://cancer.stanford.edu/">Stanford Cancer Center</a></li>
    <li><a href="http://www.stanford.edu/group/cancer_genomics">Stanford Cancer Genomics</a></li>
    <li><a href="http://med.stanford.edu/sgtc/">Stanford Genome Technology</a></li>
  </ul> <!-- /opened -->
</div> <!-- /leftsidebar -->    

    
<div id="maincontent">
    <div style='color:red'> <%= flash[:error]%></div>
    <div style='color:green'> <%= flash[:notice]%></div>
    <%= yield %>
</div><!-- /maincontent -->
    
</div><!-- /main -->

<div id="footer" style="height:110px;">
  <table border="0" align="right" cellpadding="0" cellspacing="0" width="375">
    <tr>
      <th colspan="3" class="grey site-blurb">Funding Provided by</td>
    </tr>       
    <tr>
      <td><a href="http://www.genome.gov/">
      <img src="/images/NHGRI.gif" height="70" title="National Human Genome Research Institute" alt="National Human Genome Research Institute" border="0" /><br /></a></td>
      <td><a href="http://www.nih.gov/">
      <img src="/images/NIH.gif" height="70" title="National Institutes of Health" alt="National Institutes of Health" border="0" /><br /></a></td>
      <td><a href="http://www.ddcf.org/Medical-Research/">
      <img src="/images/dorisduke.gif" height="70" title="Doris Duke Charitable Foundation" alt="Doris Duke Charitable Foundation" border="0" /><br /></a></td>
    </tr>
    <tr>
      <td><div class="funding-text"><a href="http://www.genome.gov/">National Human Genome Research Institute</a></div></td>
      <td><div class="funding-text"><a href="http://www.nih.gov/">National Instututes of Health</a></div></td>
      <td><div class="funding-text"><a href="http://www.ddcf.org/Medical-Research/">Doris Duke Charitable Foundation</a></div></td>
    </tr>
  </table>
  <div class="lft" style="width:30%">
    <a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
    <a href="mailto:insert_contact_name@stanford.edu">Contact</a>
    <div class="site-blurb">Website provided by the Ji Research Group and<br />
    Genome Technology Center at Stanford University</div>
  </div>
</div>

</div><!-- /container -->
<script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"images/SpryMenuBarDownHover.gif", imgRight:"images/SpryMenuBarRightHover.gif"});
</script>
</body>
</html>
