<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Stanford OligoExome - <%= controller.action_name.titleize %></title>
		<meta name="description" content="<%= META_TAGS[:description] %>" />
        <meta name="keywords" content="<%= META_TAGS[:keywords] %>" />
        <%= stylesheet_link_tag 'lims_std' %>
		<!--%= stylesheet_link_tag 'lims-superfish' %-->
		<!--[if IE]><%= stylesheet_link_tag 'ie-fixes' %><![endif]-->        
        <%= javascript_include_tag :all, :cache => true %>
		<!--%= calendar_date_select_includes %-->
	    <script type="text/javascript">
	        //jQuery.noConflict();
        </script>
		<script type="text/javascript">
        // initialise Superfish 
        //jQuery(document).ready(function() { 
          //jQuery('ul.sf-menu').superfish({ 
            //delay:       1000,                            // one second delay on mouseout 
            //animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
            //speed:       'fast',                          // faster animation speed  
          //}); 
        //}); 		
		</script>
    </head>
<body id='body'>
    <% user_roles = (logged_in? ? current_user.roles.collect(&:name) : nil) %>
    
<div id="container" style="width: 98%;">
    
<div id="header">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom: 0;">
    <tr>
      <td valign="top" rowspan="2" width="180"><div class="logo"><%= image_tag("SU_Seal_Card_pos_89.gif", :height => "89", :alt => "Stanford University") %></div></td>
      <td valign="top"><div class="sitename-graphic"><%= image_tag("oligoexome-sitename.gif", :height => "58", :alt => "Stanford Human OligoExome Project") %></div></td>
      <td valign="top" width="180"><div class="version"><% if Version::APP_VERSION %>Version: <%= Version::APP_VERSION %><% end %></div></td>
    </tr>
    <tr>
      <td><div class="tagline">Ji Research Group - Stanford Genome Technology Center</div></td>      
      <td valign="bottom">
        <% if logged_in? %>
        <div class="logout-link">
          <!-- <%= link_to 'User Profile', edit_user_path(current_user) %>&nbsp;&nbsp;&nbsp;&nbsp; -->
          <%= link_to 'Logout', logout_url %>
        </div>
        <% end %>
      </td>   
    </tr>
  </table>  
</div><!-- /header -->
<!-- 
  top nav requires:
  - uncomment stylesheet link for lims-superfish.css
  - uncomment jQuery.noConflict
  - uncomment initialise Superfish
  - uncomment block of code for <ul class="sf-menu"> below
  files required - latest jquery, superfish.js, hoverIntent.js, lims-superfish.css
  images - arrows-ffffff.png, shadow.png
  source - http://users.tpg.com.au/j_birch/plugins/superfish/
-->   
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0; table-layout:fixed;">
  <tr>
    <td id="topnavbar"> 	
    <!--
    <ul class="sf-menu">
      <li><a href="#">Top Item 1</a>     
        <ul>
          <li><a href="#">Submemu Item 1</a></li>
		  <li><a href="#">Submenu Item 2</a>
            <ul>
          	  <li><a href="#">Subsubmenu Item 1</a></li>
              <li><a class="last-submenu-item" href="#">Subsubmenu Item 2</a></li>
            </ul>
          </li>
		  <li><a class="last-submenu-item" href="#">Submemu Item 3</a>
		    <ul>
          	  <li><a href="#">Subsubmenu Item 1</a></li>
              <li><a class="last-submenu-item" href="#">Subsubmenu Item 2</a></li>
            </ul>
		  </li>
        </ul>
      </li>
	  <li><a href="#">Top Item 2</a>
	    <ul>
	  	  <li><a href="#">Submemu Item 1</a</li>
		  <li><a href="#">Submemu Item 2</a</li>
		  <li><a class="last-submenu-item" href="#">Submemu Item 3</a</li>
	    </ul>
	  </li>
	  <li><a class="last-topmenu-item" href="#">Top Item 3</a>
    </ul>
    -->  <!-- /ul nav bar -->
    <!-- comment this out if using top nav --> 
    <div style="height: 22px;">&nbsp;</div>
    </td>
  </tr>
</table>

<div class="clear"></div>

<div id="main">

<div id="leftsidebar">
  <% if logged_in? %> 
  <div class="user_info">
     <em>Logged in as: <%= current_user.login %></em>
  </div>
  <% end %>
  <ul class="opened">
    <li><%= link_to 'Home', {:controller=>'oligo_designs', :action=>'welcome'} %></li>                   
    <li><%= link_to 'Query Capture Seqs',  designquery_url %></li>
    <li><%= link_to 'Download Zip File',   zip_download_url %></li> 
    <li><a href="#">FAQ</a>          
      <ul>
        <li><%= link_to 'Technology Approach', faq_technology_url %></li> 
		<li><%= link_to 'OligoExome Stats',    faq_statistics_url %></li> 
        <li><%= link_to 'Annotation Codes',    faq_annotations_url %></li>
      </ul>
    </li>     
	<div class="sidebar-label">PUBLICATIONS:<br />
	<span style="font-size:.9em; font-style: normal; color:#000;">Supporting information for  the 
manuscript <em>A Flexible Approach for Highly Multiplexed Candidate Gene Targeted Resequencing</em></span>
	</div>
	<!--<li><a href="/files/supporting_info_PLoSONE_20110224.doc">PLoSONE (word doc)</a></li>-->
    <li><%= link_to 'Figure S1', figure_s1_url %></li>
	<li><%= link_to 'Table S5: Novel SNVs', table_s5_url %></li>
	<li><%= link_to 'Table S8: Capture Oligos', table_s8_url %></li>
	<div class="sidebar-label">DATA DERIVED FROM:</div>
    <li><a href="ftp://ftp.ncbi.nlm.nih.gov/genomes/H_sapiens/ARCHIVE/BUILD.36.3/">Human genome build: 36.3</a></li>
    <li><a href="ftp://ftp.ncbi.nlm.nih.gov/pub/CCDS/archive/Hs36.3/">CCDS build: 20080902</a></li>
    <li><a href="ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606/database/b129_archive/">dbSNP build id: 129</a></li>
    <% if Version::DESIGN_VERSION %> 
    <li><a href="#" style="color: #888;">OligoExome <%= Version::DESIGN_VERSION.design_version %></a></li>
    <% end %>
    
    <div class="sidebar-label">OTHER LINKS:</div>
    <li><a href="http://cancer.stanford.edu/">Stanford Cancer Center</a></li>
    <li><a href="http://www.stanford.edu/group/cancer_genomics">Stanford Cancer Genomics</a></li>
    <li><a href="http://med.stanford.edu/sgtc/">Stanford Genome Technology</a></li>
  </ul> <!-- /opened -->
</div> <!-- /leftsidebar -->    

    
<div id="maincontent">
    <div style='color:red'> <%= flash[:error]%></div>
    <div style='color:green'> <%= flash[:notice]%></div>
    <%= yield %>
</div><!-- /maincontent -->
    
</div><!-- /main -->

<div id="footer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 0;">
  <tr>
    <td valign="top">
      <a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
      <a href="mailto:sgrimes@stanford.edu">Contact</a>
      <div class="site-blurb">Website provided by the Ji Research Group<br />School of Medicine and Genome Technology Center at Stanford University<br />
      This website and its content &copy; Stanford University, <%= Time.now.localtime.strftime("%Y") %>. All rights reserved.
      </div>
    </td>
	<td valign="top">
      <table border="0" cellpadding="0" cellspacing="0" align="right" style="margin-bottom: 0;" width="45%">
        <tr>
          <td colspan="3" style="color:#990000;">Funding Provided by</td>
        </tr>           
        <tr>
          <td class="funding-text"><a href="http://www.nih.gov/"><!--<cite>NIH-logo.gif - credit: image from http://www.nih.gov/ </cite>--><%= image_tag("NIH-logo.gif", :height => "70", :border => 0, :alt => "National Institutes of Health") %></a></td>     
          <td class="funding-text"><a href="http://www.genome.gov/"><!--<cite>NHGRI-logo.gif - credit: image from http://www.genome.gov/ </cite>--><%= image_tag("NHGRI-logo.gif", :height => "70", :border => 0, :alt => "National Human Genome Research Institute") %></a></td>
          <td class="funding-text"><a href="http://www.ddcf.org/Medical-Research/Program-Strategies/Clinical-Research/"><!--<cite>DorisDuke-logo.gif - credit: image from http://www.ddcf.org </cite>--><%= image_tag("DorisDuke-logo.gif", :height => "70", :border => 0, :alt => "Doris Duke Charitable Foundation") %></a></td>
        </tr> 
        <tr>
          <td valign="top" class="funding-text"><a href="http://www.nih.gov/">National Institutes of Health</a></td>
          <td valign="top" class="funding-text"><a href="http://www.genome.gov/">National Human Genome Research Institute</a></td>
          <td valign="top" class="funding-text"><a href="http://www.ddcf.org/Medical-Research/Program-Strategies/Clinical-Research/">Doris Duke Charitable Foundation</a></td>
        </tr> 
      </table>
    </td>
  </tr>
</table>
</div>

</div><!-- /container -->
</body>
</html>
