<h1>OligoExome-Oligonucleotide Selective Sequencing: Statistics</h1>

<%= render :partial => 'shared/stats_table', :locals => {:stats_table => @stats_table1} %>
<br />
<br />

<%= link_to 'Back', :back %>
